*{
margin: 0 ;
padding: 0 ;
}


.secao{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-width: 800px;
 
   min-width: 320px;
   
   margin: auto;
}

p{
 
    color: aliceblue;


}

#bola{
    
    width: 50vw;
    height: 50vw;
    background-color: chartreuse;

}

.bloco1{ 
    background-color: black;
    width: 50vw;
    height: 50vw;
    font-size: 1.3rem;


}

.bloco2{
background-color: blueviolet;
width: 50vw;
    height: 50vw;

}

.bloco3{
background-color: brown;
width: 50vw;
    height: 50vw;

}

